<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filming</title>
    <style>
        .box {border:1px solid black; width: 512px; height:512px}
    </style>
</head>
<body>
    <h2>HELLO FILMING</h2>
    <input type="button" value="previous" id="btn-previous">
    <input type="button" value="next" id="btn-next">
    <input type="button" value="clear" id="btn-clear"><br>
    <div class="box">
        <canvas width="512" height="512" id="canvas-0"></canvas>
    </div>
</body>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/socket-parser.js" charset="utf-8"></script>
<script src="/js/index.js" charset="utf-8"></script>
</html>